name: Deploy

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  test:
    name: Test
    uses: ./.github/workflows/test.yml

  deploy:
    needs: test
    name: Deploy
    runs-on: ubuntu-latest

    permissions:
      id-token: write # Needed for auth with Deno Deploy
      contents: read # Needed to clone the repository

    steps:
      - name: Clone repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: 2.5.6

      - name: Build step
        run: "deno task build"

      - name: Upload to Deno Deploy
        uses: denoland/deployctl@v1
        with:
          project: "vietthedev"
          entrypoint: "main.ts"
          root: ""

  purge-cache:
    needs: deploy
    name: Purge cache
    uses: ./.github/workflows/purge-cache.yml
    secrets: inherit
