name: Test

on:
  push:
    branches:
      - renovate/**
  workflow_call:

jobs:
  test:
    name: Unit test
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Clone repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: 2.5.6

      - name: Test step
        run: "deno task test"
