name: Test

on:
  push:
    branches:
      - renovate/**
  workflow_call:

jobs:
  test:
    name: Unit test
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Clone repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: 2.5.6

      - name: Test step
        run: "deno task test"
