name: Test

on:
  push:
    branches:
      - renovate/**
  workflow_call:

jobs:
  test:
    name: Unit test
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Clone repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: 2.6.3

      - name: Test step
        run: "deno task test"
